.table {
    width: 100%;
    border-collapse: collapse;
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

.table__row {
    background-color: white;
}

.table__row:nth-child(even) {
    background-color: #eee;
}

.table__row:hover {
    background-color: #00abda;
}

.table__cell {
    color: #201e36;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.table__header {
    background-color: #201e36;
    color: white;
    font-weight: normal;
}