html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background-image: url("../public/background2.jpg");
  background-size: cover;
  height: 100vh;
}

.main__tableContainer {
  overflow-x: auto;
}

.container {
  padding: 0 20px;
  max-width: 850px;
  margin: 0 auto;
}

